// This file controls all base color styles for our theme. All colors should be
// defined in _colors.scss. This allows us to at a glance determine global color
// styles of our theme and prevents arbitrary color assignment.

// Do not use the base theme colors in the scss partial files! Set up your theme's
// base colors and then use scoped color values in your Sass partials.

// Gravity Forms Colors
//------------------------------------------------------------------------------

$gravity-blue:       #0072bc;
$gravity-gray:       #666;
$gravity-green:      #94dc21;
$gravity-orange:     #dc7021;
$gravity-red:        #dc2521;
$gravity-required:   #f00;
$gravity-error:      darken($gravity-required, 10);
$gravity-error-text: lighten($gravity-required, 10);
