// This file controls all base color styles for our theme. All colors should be
// defined in _colors.scss. This allows us to at a glance determine global color
// styles of our theme and prevents arbitrary color assignment.

// Do not use the base theme colors in the scss partial files! Set up your theme's
// base colors and then use scoped color values in your Sass partials.

// Gravity Forms Colors
//------------------------------------------------------------------------------

$gravity-margin:        $content-margin-small;
$gravity-margin-medium: $gravity-margin-medium;
$gravity-margin-small:  $gravity-margin / 2;
