// Gravity Forms Layout Options
//------------------------------------------------------------------------------
$gravity-small-screen:      840px !default;
$gravity-margin:             16px !default;
$gravity-margin-medium:      13px !default;
$gravity-margin-small:        8px !default;
$gravity-form-input-padding: 10px !default;
