// Global Screen Sizes
//------------------------------------------------------------------------------
$gravity-small-screen: $small-screen;

// Gravity Spacing
//------------------------------------------------------------------------------

$gravity-margin:        $content-margin-small;
$gravity-margin-medium: $content-margin / 2;
$gravity-margin-small:  $gravity-margin / 2;

// Gravity Form Spacing
//------------------------------------------------------------------------------
$gravity-form-input-padding: 10px;
