// Base Font Sizes
//------------------------------------------------------------------------------
$gravity-medium-font-size: $medium-font-size;
$gravity-small-font-size:  $small-font-size;

// Heading Font Properties
//------------------------------------------------------------------------------

$gravity-title-font-size: $h4-font-size;
$gravity-step-font-size:  $gravity-title-font-size;

// Gravity Font Properties
//------------------------------------------------------------------------------
$gravity-description-font-size: $gravity-medium-font-size;
