// Base Font Sizes
//------------------------------------------------------------------------------
$gravity-medium-font-size: $medium-font-size;
$gravity-small-font-size:  $small-font-size;

// Heading Font Properties
//------------------------------------------------------------------------------

$gravity-h4-font-size: $h4-font-size;
