.gform_wrapper {

	.gfield_price {

		.ginput_container {
			align-items: center;
			display: flex;
			flex-wrap: nowrap;

			input {
				flex-shrink: 1;
				width: auto;
			}

			span {
				margin-right: 1.6949152542%;
			}
		}
	}

	.ginput_product_price {
		color: $gravity-green;
	}
}
